@font-face {
    font-family: 'enin-icon-font';
    src:  url('enin-icon/enin-icon-font.eot?c1km7n');
    src:  url('enin-icon/enin-icon-font.eot?c1km7n#iefix') format('embedded-opentype'),
      url('enin-icon/enin-icon-font.ttf?c1km7n') format('truetype'),
      url('enin-icon/enin-icon-font.woff?c1km7n') format('woff'),
      url('enin-icon/enin-icon-font.svg?c1km7n#enin-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon-enin {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'enin-icon-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-attractive-index:before {
    content: "\e911";
  }
  .icon-battery:before {
    content: "\e912";
  }
  .icon-brand-track:before {
    content: "\e913";
  }
  .icon-by-value:before {
    content: "\e914";
  }
  .icon-by-volume:before {
    content: "\e915";
  }
  .icon-central-level-policy:before {
    content: "\e916";
  }
  .icon-central-level-scheme:before {
    content: "\e917";
  }
  .icon-cluster-analysis:before {
    content: "\e918";
  }
  .icon-competition-benchmarking:before {
    content: "\e919";
  }
  .icon-competitor-intelligence:before {
    content: "\e91a";
  }
  .icon-future-maket:before {
    content: "\e925";
  }
  .icon-industry-comments:before {
    content: "\e926";
  }
  .icon-investment-deal-tracker:before {
    content: "\e927";
  }
  .icon-market-sizing:before {
    content: "\e928";
  }
  .icon-pli:before {
    content: "\e929";
  }
  .icon-production:before {
    content: "\e91b";
  }
  .icon-sales:before {
    content: "\e91c";
  }
  .icon-state-level-policy:before {
    content: "\e91d";
  }
  .icon-state-level-scheme:before {
    content: "\e91e";
  }
  .icon-supply-chain:before {
    content: "\e91f";
  }
  .icon-support-index:before {
    content: "\e920";
  }
  .icon-themes:before {
    content: "\e921";
  }
  .icon-updates:before {
    content: "\e922";
  }
  .icon-voc-survey:before {
    content: "\e923";
  }
  .icon-x-mission:before {
    content: "\e924";
  }
  .icon-enin-launch:before {
    content: "\e900";
  }
  .icon-enin-growth:before {
    content: "\e901";
  }
  .icon-enin-sustain:before {
    content: "\e902";
  }
  .icon-enin-powered:before {
    content: "\e903";
  }
  .icon-enin-why:before {
    content: "\e904";
  }
  .icon-enin-oa:before {
    content: "\e905";
  }
  .icon-enin-power:before {
    content: "\e906";
  }
  .icon-enin-tariff:before {
    content: "\e907";
  }
  .icon-enin-solar:before {
    content: "\e908";
  }
  .icon-enin-ev:before {
    content: "\e909";
  }
  .icon-enin-oil:before {
    content: "\e90a";
  }
  .icon-enin-wind:before {
    content: "\e90b";
  }
  .icon-enin-coal:before {
    content: "\e90c";
  }
  .icon-enin-transmission:before {
    content: "\e90d";
  }
  .icon-enin-epu:before {
    content: "\e90e";
  }
  .icon-enin-enifews:before {
    content: "\e90f";
  }
  .icon-enin-moniter:before {
    content: "\e910";
  }
  